.circle1
{
    height: 100px;
    width:100px;
    border-radius: 50%;
    border: solid 5px;
}
.circle2
{
    height:100px ;
    width:100px;
    border-radius:50%;
    border: solid 5px;
    margin-left: 70%;
}
